ipykernel
pandas
ydata_profiling
matplotlib
numpy
seaborn
scikit-learn
dill
xgboost
catboost
geopyflask==3.0.2
flask-cors==4.0.0
pandas==2.2.1
catboost==1.2.7
python-dotenv==1.0.1
geopy==2.4.1
python-dotenv